PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/hashir_portfolio?retryWrites=true&w=majority
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FROM_NAME="Hashir Ahmad"
FROM_EMAIL=your_email@gmail.com
RECEIVER_EMAIL=your_email@gmail.com
